---

---

<footer class="z-20">
  <nav class="flex flex-wrap gap-6 md:gap-10">
    <a href="/" class="text-md hover-glitch font-mono font-bold text-fuchsia-500"> HOME </a>
    <a href="/about" class="text-md hover-glitch font-mono font-bold text-neutral-500"> ABOUT </a>
    <a href="/blog" class="text-md hover-glitch font-mono font-bold text-neutral-500"> BLOG </a>
    <a
      href="https://github.com/smz-exe"
      target="_blank"
      class="text-md hover-glitch font-mono font-bold text-neutral-500"
    >
      GITHUB
    </a>
  </nav>
</footer>
