---
import { buttonVariants } from "@/components/ui/button";
---

<section class="relative pt-32 pb-20 md:pt-48 md:pb-32 container mx-auto px-4">
  <div class="max-w-3xl space-y-8">
    <div
      class="inline-flex items-center border border-neutral-800 bg-neutral-900/50 px-3 py-1 text-sm font-mono text-secondary backdrop-blur-sm"
    >
      <span class="mr-2 h-2 w-2 animate-pulse bg-secondary"></span>
      SYSTEM_READY
    </div>

    <h1
      class="text-5xl font-bold tracking-tight text-foreground sm:text-7xl font-sans"
    >
      Building logic <br />
      in an <span class="text-primary">illogical world</span>.
    </h1>

    <p
      class="max-w-2xl text-lg text-muted-foreground sm:text-xl font-sans leading-relaxed"
    >
      I’m a Computer Science senior specializing in network protocols and
      software architecture. Crafting minimal, high-performance systems with <span
        class="text-foreground font-medium">C++</span
      > & <span class="text-foreground font-medium font">Python</span>.
    </p>

    <div class="flex flex-col sm:flex-row gap-4 pt-4">
      <a
        href="/blog"
        class={buttonVariants({
          variant: "default",
          className: "h-12 px-8 font-mono",
        })}
      >
        READ_BLOG
      </a>

      <a
        href="/about"
        class={buttonVariants({
          variant: "outline",
          className: "h-12 px-8 font-mono",
        })}
      >
        :: VIEW_CV
      </a>
    </div>
  </div>
</section>
