---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/shared/Hero.astro";
import { Dithering } from "@paper-design/shaders-react";
---

<Layout title="Astro | Portfolio">
  <div class="flex min-h-screen">
    <div class="w-3/5 p-8">
      <Hero />
    </div>
    <div class="w-2/5">
      <Dithering
        client:load
        width="100%"
        height="100%"
        colorBack="hsl(0, 0%, 0%)"
        colorFront="hsl(320, 100%, 70%)"
        shape="simplex"
        type="4x4"
        size={3}
        speed={0.5}
      />
    </div>
  </div>
</Layout>
