---
import { buttonVariants } from '@/components/ui/button';
---

<section class="relative z-10 flex flex-1 flex-col justify-center">
  <div class="mb-10 space-y-6">
    <h1
      class="mt-8 font-sans text-6xl leading-none font-bold tracking-tighter text-foreground select-none md:text-8xl"
    >
      YUKI <br />
      <span class="text-neutral-500">SHI</span>MIZU
    </h1>

    <div class="border-l-2 border-fuchsia-500 py-1 pl-4">
      <p class="font-mono text-xl font-medium text-fuchsia-500 italic md:text-2xl">
        "I want to know <br class="block md:hidden" />what information is."
      </p>
    </div>

    <p
      class="max-w-2xl font-sans text-lg leading-relaxed text-neutral-300 md:text-xl md:text-neutral-400"
    >
      Software Engineer & Engineering Senior. <br class="hidden sm:block" />
      Researching <span class="font-bold text-foreground md:font-medium">Explainable AI</span> through
      the lens of <span class="font-bold text-foreground md:font-medium">Information Theory</span>.
    </p>
  </div>

  <div class="flex flex-wrap gap-4">
    <a
      href="/blog"
      class={buttonVariants({
        variant: 'default',
        className: 'h-12 px-8 font-mono',
      })}
    >
      READ_BLOG
    </a>

    <a
      href="/about"
      class={buttonVariants({
        variant: 'outline',
        className: 'h-12 px-8 font-mono',
      })}
    >
      > ABOUT_ME
    </a>
  </div>
</section>
